* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.paysandu {
    width: 75px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    

}

.bg-body-tertiary {
    background-color: black !important;

}

.nav-link {
    color: aliceblue !important;
}

.fa-solid {
    color: aliceblue;
    font-size: 30px;
}

.container {
    margin-top: 90px;
}
